# terraform apply 完了後、`terraform output` の値をここに設定し
# ファイル名を .env.local にリネームする（.env.local はgit管理対象外）
REACT_APP_AWS_REGION=ap-northeast-1
REACT_APP_COGNITO_USER_POOL_ID=
REACT_APP_COGNITO_CLIENT_ID=
REACT_APP_API_ENDPOINT=
