# terraform
infrastructure/terraform/.terraform
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup
infrastructure/terraform/terraform.tfstate.*.backup
infrastructure/terraform/*.tfvars
infrastructure/terraform/tfplan
infrastructure/terraform/build/

# lambda zip artifacts
*.zip
